.app-view{
  height: 100%;
  width: 100%;
  margin-right: 1%;
}

.Designer{
  background-color: #01ff70;
}
.Dashboard{
  background-color: #000066;
}
.Director{
  background-color: red;
}
.Quality{
  background-color: yellow ;
}
.Supervisor{
  background-color: mediumpurple;
}
.Splash{
  background-color: aquamarine;
}